.notification {
  .notice {
    background-color: #26A6A4;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
  }

  .alert {
    background-color: red;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
  }
}