@import './color';
.notification {
  .notice {
    background-color: $main;
    color: $white;
    text-align: center;
    font-size: 20px;
  }

  .alert {
    background-color: $rose;
    color: $white;
    text-align: center;
    font-size: 20px;
  }
}